.break_test {
    position: fixed;
    z-index: 2;
    width: 100%;
}

/*XS*/
@media (max-width : 32em) {
    /*Misc*/
    .break_test {background: cyan;}
    .visible_sm, .visible_md,
    .visible_lg, .hidden_xs  {display: none;}

    /*Slideshow*/
    .slideshow .slide {height: auto;}
    .slideshow .slide .headline {
        position: relative;
        bottom: 0;
        right: 0;
        font-size: 1em;
        /*width: 100%;*/
        padding: .5em 2em .5em .25em;
        display: block;
        background: linear-gradient(135deg, #ED1C24 50%, #d0171e);
    }
    .slideshow .slide .headline:before {
        content: none;
    }

    .ad-content img {
        width: auto;
        margin: 0 auto;
    }


    .subscribe .hieroglyphics{
        font-size: 3em;
    }

    .stories.columns .column {
        flex: 1 0 100%;
    }

    footer {
        padding-top: 1em;
    }

    footer .columns {
        flex-direction: column;
    }

    footer .columns .column {
        flex: 1 0 100%;
    }

    footer a {
        text-align: center;
        padding: .5em;
    }

    footer h2 {
        text-align: center;
        padding: 1em .25em 0em;
    }

}

/*XS+SM*/
@media (max-width : 42em) {
    h2 {
        padding-left: .25em;
        padding-right: .25em;
    }

    header .tagline {
        font-size: 1em;
        padding-left: .5em;
    }

    .top_stories article {
        flex-basis: 100%;
    }

    .trends a {
        padding: 1em;
    }
}

/*XS+SM+MD*/
@media (max-width : 64em) {
    h2 {
        padding-left: .15em;
        padding-right: .15em;
    }

    .subscribe {

        font-size: 0.8em;

        margin: .5em .25em;
        padding: 0.5em 1em;
    }

    .stories.columns .ads .block {
        display: none;
    }

}


/*SM*/
@media (min-width : 32em) and (max-width : 42em) {
    /*Misc*/
    .break_test {background: magenta;}
    .visible_xs, .visible_md,
    .visible_lg, .hidden_sm {display: none;}

   /*Slideshow*/
    .slideshow .slide {height: 20em;}

    .slideshow .slide .headline {
        font-size: 1.5em;
    }


    .top_stories article {
        flex-basis: 50%;
    }

    .stories.columns .column {
        flex: 1 0 50%;
    }

    .stories.columns .ads.column {
        flex: 1 0 100%;
    }
    .stories.columns .ads.column {
        display: flex;
    }
}

/*MD*/
@media (min-width : 42em) and (max-width : 64em) {
    /*Misc*/
    .break_test {background: yellow;}
    .visible_xs, .visible_sm,
    .visible_lg, .hidden_md {display: none;}


    header .tagline {
        margin-top: 0.7em;
    }


}

/*LG*/
@media (min-width : 64em) {
    /*Misc*/
    .break_test {
        background: black;
    }
    .visible_xs, .visible_sm,
    .visible_md, .hidden_lg {display: none;}


   /*Slideshow*/
    header .tagline {
        margin-top: 0.7em;
    }


}