

@import url('https://fonts.googleapis.com/css?family=Roboto:400,700');

html {
    font-family: 'Roboto', sans-serif;
    font-size: 10px;

}

body {
    background: white;
}

h2 {
    text-align: center;
    margin: 0;
    font-size: 4rem;
    padding: 3rem;
    font-weight: normal;
}

/*::selection {*/
    /*color: black;*/
    /*background-color: black;*/
/*}*/


/*Cover*/

.cover {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    color: white;

    height: 100vh;
    overflow: hidden;
    position: relative;
    text-align: center;
}

.cover:after {
    content: '';
    background: url("../img/map_color_lines.svg") center center;
    background-size: cover;
    position: absolute;
    height: 250%;
    width: 170%;
    transform: skew(-10deg,-10deg) rotate(21deg) scale(0.9, 0.6) translate(7rem, 8rem);
}

.cover:before {
    content: '';
    background: radial-gradient(#561513 30%, #1c0b09 100%);
    background-blend-mode: multiply;
    background-size: cover;
    position: absolute;
    height: 100%;
    width: 100%;
}


/*Padding is subtracting the letterspacing on the right*/
h1 {
    border: 1rem solid white;
    padding: 1rem 3rem 1rem 9rem;
    font-size: 7rem;
    letter-spacing: 6rem;
    text-align: center;
    display: inline-block;
    position: relative;
    z-index: 1;
}


.cover .scroll {
    font-size: 2.25rem;
    z-index: 1;
    opacity: 0;
    margin-bottom: 6rem;

    animation: scroll 2s 2.5s ease-out;
    animation-fill-mode: forwards;
}

@keyframes scroll {
    from {
        transform: translateY(-1rem);
        opacity: 0;
    }
    to {
        transform: translateY(0rem);
        opacity: .7;
    }
}

/*Agency*/

.agency {

    height: 80vh;
    background-color: #cad0ce;
    position: relative;
    overflow: hidden;
}

.agency .title {
    position: absolute;
    top: 40%;
    left: calc(50% - 3.5em);
    width: 7em;
    text-align: center;
    display: inline-block;
    padding: 1.5rem;
    background: #0E111A;
    color: white;
    font-size: 4rem;
    font-weight: bold;
    z-index: 1;
}

.agency .dot:before {
    content: '';
    background-image: url("../img/dots/xlarge.svg");
    background-size: cover;
    display: block;
    position: absolute;
    top: 0;
    height: 100%;
    width: 100%;
    z-index: 0;
    filter: blur(.3rem);
    transition: .25s all;
}
.agency .dot:after {
    content: '';
    background-image: url("../img/dots/xsmall.svg");
    background-size: cover;
    display: block;
    position: absolute;
    top: 0;
    height: 100%;
    width: 100%;
    z-index: 0;
    filter: blur(.5rem);
    transition: .25s all;
}

.agency .dot_wrapper:before {
    content: '';
    background-image: url("../img/dots/large.svg");
    background-size: cover;
    display: block;
    position: absolute;
    top: 0;
    height: 100%;
    width: 100%;
    z-index: 0;
    filter: blur(.1rem);
    transition: .2s all;
}
.agency .dot_wrapper:after {
    dot_wrapper: '';
    background-image: url("../img/dots/small.svg");
    background-size: cover;
    display: block;
    position: absolute;
    top: 0;
    height: 100%;
    width: 100%;
    z-index: 0;
    filter: blur(.3rem);
    transition: .2s all;
}

.agency .dot_wrapper {
    background-image: url("../img/dots/medium.svg");
    background-size: cover;
    display: block;
    position: absolute;
    top: 0;
    height: 100%;
    width: 100%;
    z-index: 0;
    filter: blur(.1rem);
    transition: .2s all;
}


/*    -webkit-filter: blur(2px);
    -moz-filter: blur(2px);
    -o-filter: blur(2px);
    -ms-filter: blur(2px);
    filter: blur(2px);
    */

.agency:hover .dot:before {
    filter: blur(.2rem);
    transform: scale(1.02, 1.02);
    transition: .3s .05s all;
}
.agency:hover .dot:after {
    filter: blur(.2rem);
    transform: scale(1.02, 1.02);
    transition: .3s .05s all;
}
.agency:hover .dot .dot_wrapper:before {
    filter: blur(.4rem);
    transform: scale(1.03, 1.03);
    transition: .35s all;
}
.agency:hover .dot .dot_wrapper:after {
    filter: blur(.4rem);
    transform: scale(1.03, 1.03);
    transition: .35s all;
}

.agency:hover .dot .dot_wrapper {
    filter: blur(0rem);
    transform: scale(1.01, 1.01);
    transition: .3s all;
}



/*Weapons Section*/

.weapons {
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;

    background:  linear-gradient(135deg, #555 , #111), url("../img/dark_embroidery.png");
    background-blend-mode: multiply;

}


.weapons .carousel {
    position: relative;
    margin: 0;
    padding: 0;
}
.weapons .carousel_wrapper {
    height: 70rem;
    width: 100rem;

}
.weapons .carousel .item {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    width: 35rem;
    height: 35rem;
    text-align: center;

    position: absolute;
    -webkit-transform: scale(0.35);
    transform: scale(0.35);
    opacity: .5;
}


.weapons .carousel .item.active {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 1;

}

.weapons .carousel .item .desc {
    display: none;
}

.weapons .carousel .item.active .desc {
    display: block;
}
.weapons .carousel .item.active .desc h3 {
    font-size: 2rem;
    text-transform: uppercase;
    border-bottom: .1rem solid white;
    margin-bottom: 1rem;

}


.weapons .carousel .item:hover {
    background: rgba(99,99,99,.2);
    cursor: pointer;
}
.weapons .carousel .item.active:hover {
    background: inherit;
    cursor: default;
}

.weapons .carousel .item .outline {
    width: auto;
    height: 100%;
    stroke-width:0.5;
    fill: #FFF;
    opacity: 0.5;
}
.weapons .carousel .item.active .outline {
    opacity: 1;
}

.weapons .carousel .item.transition {
    -webkit-transition: all 0.35s ease;
    transition: all 0.35s ease;
}

.weapons .controls {
    font-size: 3rem;
    color: red;
}


/*Util*/


/*
jQuery Circular Carousel
https://github.com/sgb-io/jquery.circular-carousel
*/