

@import url('https://fonts.googleapis.com/css?family=Roboto:400,700,900');

html {
    font-family: 'Roboto', sans-serif;
    font-size: 10px;

}

body {
    background: white;
}

h2 {
    text-align: center;
    margin: 0;
    font-size: 4rem;
    padding: 3rem;
    font-weight: normal;
}

/*::selection {*/
    /*color: black;*/
    /*background-color: black;*/
/*}*/


/*Cover*/

.cover {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    color: white;

    height: 100vh;
    overflow: hidden;
    position: relative;
    text-align: center;
}

.cover:after {
    content: '';
    background: url("../img/map_color_lines.svg") center center;
    background-size: cover;
    position: absolute;
    height: 250%;
    width: 170%;
    transform: skew(-10deg,-10deg) rotate(21deg) scale(0.9, 0.6) translate(7rem, 8rem);
}

.cover:before {
    content: '';
    background: radial-gradient(#560106 30%, #1c0b09 100%);
    background-blend-mode: multiply;
    background-size: cover;
    position: absolute;
    height: 100%;
    width: 100%;
}


/*Padding is subtracting the letterspacing on the right*/
h1 {
    border: 1rem solid white;
    padding: 1rem 3rem 1rem 9rem;
    font-size: 7rem;
    letter-spacing: 6rem;
    text-align: center;
    display: inline-block;
    position: relative;
    z-index: 1;
}


.cover .scroll {
    font-size: 2.25rem;
    z-index: 1;
    opacity: 0;
    margin-bottom: 6rem;

    animation: scroll 2s 2.5s ease-out;
    animation-fill-mode: forwards;
}

@keyframes scroll {
    from {
        transform: translateY(-1rem);
        opacity: 0;
    }
    to {
        transform: translateY(0rem);
        opacity: .7;
    }
}

/*Destination*/

.destination {
    background: radial-gradient(#560106 40%, #410004 100%);
    color: white;
}
.destination h2 {
    position: absolute;
    width: 100%;
    padding: 3rem 0;
    margin: 0;
    text-align: center;
}
.destination .container {
    height: 80vh;
    display: flex;
    flex-direction: column;
    max-width: 40rem;
    margin: 0 auto;
    align-items: center;
    justify-content: center;
}


.destination .header {
    width: 100%;
    border-bottom: .2rem solid white;
    margin-bottom: 1rem;
}
.destination .header svg {
    float: left;
    margin-right: 1rem;
    margin-bottom: 1rem;
}
.destination .header .country {
    font-size: 1.7rem;
}
.destination .header .city {
    font-size: 3rem;
    font-weight: bold;
}
.destination .clock {
    font-size: 15.5rem;
    font-weight: 900;
    text-align: center;
}
.destination .clock span:nth-of-type(2){
    font-family: Arial;
    font-weight: 700;
    position: relative;
    top: -1rem;

    /*Added delay due to browser weirdness*/
    animation: blink 2s .2s infinite;
}

@keyframes blink {
    0% {opacity: 1;}
    49% {opacity: 1;}
    50% {opacity: 0;}
    100% {opacity: 0;}
}

.destination .clock span:nth-of-type(3):before {
    content: '03';
    animation: timer 40s 3s infinite;
}

@keyframes timer {
    0% {content: '03'}
    10% {content: '04'}
    20% {content: '05'}
    30% {content: '06'}
    40% {content: '07'}
    50% {content: '08'}
    60% {content: '09'}
    70% {content: '00'}
    80% {content: '01'}
    90% {content: '02'}
}


/*Agency*/

.agency {
    display: flex;
    flex-direction: column;
    height: 80vh;
    background-color: #cad0ce;
    position: relative;
    overflow: hidden;
}
.agency h2 {
    position: absolute;
    width: 100%;
    padding: 3rem 0;
    margin: 0;
    text-align: center;
    text-shadow: 0.1rem 0.1rem 0rem #cad0ce,
                 0.1rem -0.1rem 0rem #cad0ce,
                 -0.1rem 0.1rem 0rem #cad0ce,
                 -0.1rem -0.1rem 0rem #cad0ce;
    z-index: 1;
}


.agency .title {
    position: relative;
    top: 40%;
    width: 50rem;
    margin: 0 auto;
    text-align: center;
    padding: 1.5rem 0;
    background: #0E111A;
    color: white;
    font-size: 3rem;
    font-weight: bold;
    z-index: 1;
    text-transform: uppercase;
}

.agency .dot:before {
    content: '';
    background-image: url("../img/dots/xlarge.svg");
    background-size: cover;
    display: block;
    position: absolute;
    top: 0;
    height: 100%;
    width: 100%;
    z-index: 0;
    -webkit-filter: blur(.3rem);
    filter: blur(.3rem);
    transition: .25s all;
}
.agency .dot:after {
    content: '';
    background-image: url("../img/dots/xsmall.svg");
    background-size: cover;
    display: block;
    position: absolute;
    top: 0;
    height: 100%;
    width: 100%;
    z-index: 0;
    -webkit-filter: blur(.5rem);
    filter: blur(.5rem);
    transition: .25s all;
}

.agency .dot_wrapper:before {
    content: '';
    background-image: url("../img/dots/large.svg");
    background-size: cover;
    display: block;
    position: absolute;
    top: 0;
    height: 100%;
    width: 100%;
    z-index: 0;
    -webkit-filter: blur(.1rem);
    filter: blur(.1rem);
    transition: .2s all;
}
.agency .dot_wrapper:after {
    dot_wrapper: '';
    background-image: url("../img/dots/small.svg");
    background-size: cover;
    display: block;
    position: absolute;
    top: 0;
    height: 100%;
    width: 100%;
    z-index: 0;
    -webkit-filter: blur(.3rem);
    filter: blur(.3rem);
    transition: .2s all;
}

.agency .dot_wrapper {
    background-image: url("../img/dots/medium.svg");
    background-size: cover;
    display: block;
    position: absolute;
    top: 0;
    height: 100%;
    width: 100%;
    z-index: 0;
    -webkit-filter: blur(.1rem);
    filter: blur(.1rem);
    transition: .2s all;
}


.dot:hover:before {
    -webkit-filter: blur(.2rem);
    filter: blur(.2rem);
    transform: scale(1.02, 1.02);
    transition: .3s .05s all;
}
.dot:hover:after {
    -webkit-filter: blur(.2rem);
    filter: blur(.2rem);
    transform: scale(1.02, 1.02);
    transition: .3s .05s all;
}
.dot:hover .dot_wrapper:before {
    -webkit-filter: blur(.4rem);
    filter: blur(.4rem);
    transform: scale(1.03, 1.03);
    transition: .35s all;
}
.dot:hover .dot_wrapper:after {
    -webkit-filter: blur(.4rem);
    filter: blur(.4rem);
    transform: scale(1.03, 1.03);
    transition: .35s all;
}

.dot:hover .dot_wrapper {
    -webkit-filter: blur(0rem);
    filter: blur(0rem);
    transform: scale(1.01, 1.01);
    transition: .3s all;
}



/*Weapons Section*/

.weapons {
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;

    background:  linear-gradient(135deg, #555 , #111), url("../img/dark_embroidery.png");
    background-blend-mode: multiply;

    overflow-x: hidden;
}



.weapons .carousel {
    position: relative;
    margin: 0;
    padding: 0;
}
.weapons .carousel_wrapper {
    height: 50rem;
    width: 92rem;

}
.weapons .carousel .item {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    /*width: 25rem;*/
    /*height: 25rem;*/
    text-align: center;

    position: absolute;
}


.weapons .carousel .item svg {
    -webkit-transform: scale(0.35);
    transform: scale(0.35);
    opacity: .5;

    -webkit-transition: all 0.25s ease;
    transition: all 0.25s ease;
}
.weapons .carousel .item.active svg {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 1;

    -webkit-transition: all 0.25s ease;
    transition: all 0.25s ease;

}

.weapons .carousel .item .desc {
    display: none;
}

.weapons .carousel .item.active .desc {
    user-select: none;
    display: block;
}
.weapons .carousel .item.active .desc h3 {
    font-size: 2rem;
    text-transform: uppercase;
    text-decoration: underline;
    margin-bottom: 1rem;

}
.weapons .carousel .item.active .desc p {
    font-size: 1.4rem;
}


.weapons .carousel .item:hover {cursor: pointer;}
.weapons .carousel .item.active:hover {cursor: default;}

.weapons .carousel .item .outline {
    width: auto;
    height: 100%;
    stroke-width:0.5;
    fill: #FFF;
    opacity: 0.5;
}
.weapons .carousel .item.active .outline {
    opacity: 1;
    -webkit-transition: all 0.25s ease;
    transition: all 0.25s ease;
}

.weapons .carousel .item.transition {
    -webkit-transition: all 0.25s ease;
    transition: all 0.25s ease;
}

.weapons .controls {
    font-size: 3rem;
    color: red;
}


/*Util*/


/*
jQuery Circular Carousel
https://github.com/sgb-io/jquery.circular-carousel
*/