@import url(https://fonts.googleapis.com/css?family=Montserrat|Source+Sans+Pro);

.arial {font-family: arial;}
.monserrat {font-family: 'Montserrat';}
.source_sans {font-family: 'Source Sans Pro';}

.indeed_brand {color: #1F65EF;}