/* ==========================================================================
   Type
   ========================================================================== */

/*
In the sea of Open Sans, Helvetica, and Raleway, I really enjoy the approachability of Montserrat.
I am also not afraid to use serifed type. They are awesome and are coming back, I swear!
*/

@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700|Noto+Serif:400,400i,700);

/* Font Declarations */
h1, h2, h3, h4, h5, nav a, .menu {
    font-family: 'Montserrat', arial, sans-serif;
    letter-spacing: -0.025em;
    text-rendering: optimizeLegibility;
}

/* PureCSS overall font declaration */
html, input, select, textarea,
.pure-g [class *= "pure-u"] {
    font-family: 'Noto Serif', serif;

    -webkit-font-variant-ligatures: common-ligatures;
    font-variant-ligatures: common-ligatures; /* for up-to-date browsers, including IE10 and Opera 21 */

    -webkit-font-feature-settings: "kern";
    font-kerning: normal;

    -ms-font-feature-settings:     'kern' 1, 'liga' 1;  /* IE10 */
    -moz-font-feature-settings:    'kern' 1, 'liga' 1;  /* Firefox */
    -webkit-font-feature-settings: 'kern' 1, 'liga' 1;  /* Chrome, Safari, Opera */
    font-feature-settings:         'kern' 1, 'liga' 1;  /* Future-proof! */

}

.big {font-size: 1.3em;}
.small {font-size: .75em;}
.text-center {text-align: center;}

.italics {font-style: italic;}
.bold {font-weight: bold;}
.underline {text-decoration: underline;}
.freetext {white-space: pre-wrap; word-wrap: break-word;}


/* ==========================================================================
   Global
   ========================================================================== */

html {
    background: #fbfbfe;
    color: #333;
    line-height: 1.75;
    font-size: 1.1em;

}

body {
    max-width: 57em;
}

main {
    max-width: 70em;
}

section {
    color: #263238;
    padding: 0 0.5em;

}

p {
    margin: 0 0 1.7em 0;
}

h1 {
    font-size: 2.5em;
    line-height: 1.3;
    padding-top: 0.6em;
    margin-top: 0;
}

h1 span {color: #d32f2f;}


h2 {
    font-size: 1.8em;
    position: relative;
    margin: 1.5em 0 0.8em;
}

h2:before {
    content: '';
    position: absolute;
    height: 0.2em;
    width: 3em;
    top: 1.4em;
    left: 0;
    background: #d32f2f;
}

h3 {
    font-size: 1.4em;
    margin: 1.1em 0 .5em 0;
}

h4 {
    font-size: 1.2em;
    margin: 1.2em 0 0.4em 0;
}

h5 {
    font-size: 1em;
    margin-bottom: 0em;
}


a {
    color: #d32f2f;
    text-decoration: none;


    text-shadow: 1px 1px 0 #fff, -1px 1px 0 #fff, -1px -1px 0 #fff, 1px -1px #fff;

    background-image: linear-gradient(90deg, currentColor 100%, transparent 100%);
    background-position: 0 1.2em;
    background-repeat: repeat-x;
    background-size: 1px 1px;

    transition: .12s all;
}

a:hover {
    color: white;
    background-color: #d32f2f;
    text-shadow: 1px 1px 0 #d32f2f, -1px 1px 0 #d32f2f, -1px -1px 0 #d32f2f, 1px -1px #d32f2f;

    transition: .12s all;
}

figure {margin: 2em 0;}

figcaption {
    font-style: italic;
    font-size: .8em;
    border-left: .2em solid #d32f2f;
    background: #eee;
    padding: .8em;
}


::selection {
    background: #263238;
    color: white;
    text-shadow: none;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

footer {
    text-align: center;
    font-size: .8em;
    padding-bottom: 1em;
}

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}


textarea {
    resize: vertical;
}

.browserupgrade {
    position: absolute;
    margin: 0;
    background: white;
    font-size: .8em;
    padding: 0.2em;
    text-align: center;
    border-bottom: .1em solid #d32f2f;
}

.logos {
    max-width: 250px;
    float: right;
    padding: 0 0 0 1em;
}

/* ==========================================================================
   Nav
   ========================================================================== */

aside {
    z-index: 1;
}

aside input {
    display: none;
}

aside nav {
    position: fixed;
    z-index: 1;
    font-size: 1.1em;
}


aside nav ul {
    padding: 0;
}

aside nav li {
    list-style: none;
    /*text-align: right;*/
}

aside nav a {
    display: inline-block;
    padding: .2em .2em .1em .2em;
    margin-bottom: -1px;
    border-bottom: .1em solid #DDD;
    background: none;


}
aside nav li:last-of-type a {
    border-bottom: none;
}




/* ==========================================================================
   Images
   ========================================================================== */

.thumbs {
    display: flex;
    flex-flow: row wrap;
    margin: 0em -.5em 1.5em -.5em;
}

.thumbs a {
    width: calc(25% - 1em);
    padding: .5em;
    background-image: none;
    margin: 0;

}
.thumbs a img {
    outline: 1px solid #999;
    width: 100%;
    height: auto;
}
.thumbs a:hover img {
    outline: none;
}


.photographs img,
.photographs video {
    max-width: 100%;
    /*height: auto;*/
    padding-bottom: 1em;
}

.photographs .animated_photo {
    position: relative;
}

.photographs .animated_photo video {
    display: none;
}
.photographs .animated_photo:hover img {
    display: none;
}
.photographs .animated_photo:hover:before,
.photographs .animated_photo:hover:after {
    content: '';
    display: none;
}
.photographs .animated_photo:hover video,
.photographs video:hover {
    display: block;
}

.photographs .animated_photo:before {
    content: '';
    position: absolute;
    background: white;
    opacity: .3;
    width: 2em;
    height: 2em;
    border-radius: 50%;
    text-align: center;
    line-height: 2em;
    font-size: 3em;
    left: calc(50% - 1em);
    top: calc(50% - 1em);
}


.photographs .animated_photo:after {
    content: '\25B6';
    position: absolute;
    color: black;
    background: none;
    opacity: .5;
    width: 2em;
    height: 2em;
    border-radius: 50%;
    text-align: center;
    line-height: 2em;
    font-size: 3em;
    left: calc(50% - .92em);
    top: calc(50% - 1em);
}


/* ==========================================================================
   Utility
   ========================================================================== */

.float_right {float: right;}
.float_left {float: left;}

.hidden {
    display: none !important;
    visibility: hidden;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {clear: both;}
.clearfix {*zoom: 1;}

/* ==========================================================================
   Print styles
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important;
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}

/*! HTML5 Boilerplate v5.0 | MIT License | http://h5bp.com/ */
